@font-face {
    font-family: limousine;
    src: url(/fuentes/Champagne\ _\ Limousines\ Italic.ttf);
}
@font-face {
    font-family: jelle;
    src: url(/fuentes/Jellee-Roman.otf);
}
@font-face {
    font-family: ailerons;
    src: url(/fuentes/ailerons.otf);
}