*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d47a1;
}

.container{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px 0px;
}
.form-image{
    width: 100%;
    height: 100%;
}
.form-image img{
    width: 101%;
    height: 100%;
}

.form-date{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-left: 60px;
    position: relative;
    background: white;
}

.form-date .titulo{
    width: 100%;
    height: 10%;
    font-weight: bold;
    font-size: 50px;
    color: #ffa726;
    font-family: jelle;
    margin-top: 30px;
}

.form-date .subtitulo{
    width: 100%;
    height: 18%;
    font-size: 50px;
    font-family: l-bold;
    color: #ffa726;
}

.form-date form{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.form-date input{
    width: 90%;
    height: 50px;
}
.form-date input:nth-child(1){
    width: 90%;
    height: 50px;
    border-left: 9px solid #0d47a1;
}
.form-date input:nth-child(3){
    margin-bottom: 20px;
}

.container-button{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
}

#btn{
    height: 30px;
    background: #0d47a1;
    border: none;
    width: 100px;
    color: white;
    font-family: l-bold;
    font-weight: bold;
    cursor: pointer;
}

.redes-sociales{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    font-family: jelle;
    font-size: 15px;
}

.redes-sociales h5 {
    color: #c3c3c3;
}

.redes-sociales img{
    width: 20px;
    cursor: pointer;
}

.logo-empresa{
    width: 50px;
    position: absolute;
    top: 30px;
    right: 30px;
}

@media (max-width: 420px){
    .container{
        width: 98%;
        margin-left: 30px;
    }
   .form-image{
        display: none;
   }
   .form-date{
        width: 100%;
        padding: 10px;
        padding-left: 30px;
   }
}
